<head>
    <link rel="stylesheet"type="text/css"  href="./../css/footer.css">
</head>

<footer>

    <p> Created with ❤️ by Pankaj Kumar Agarwal Follow me :
        <a target="_blank" href="https://www.linkedin.com/in/pankaj-kumar-agarwal-b6189b221/"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="https://github.com/Pankaj4133"><i class="fab fa-github"></i></a>
    </p>

</footer>